<div id="content">
	<div class="post">
		<h2 class="title">About</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">60 Years of Experience</h3>
				<p class="text2"></p>
				
				<p>
					<%= image_tag 'about.jpg', :class => 'alignleft' %>
				</p>								
				
				<p>
					Herr Tool Sales has been in the business of selling quality tooling products and providing expert technical guidance in manufacturing and workholding for more than 50 years. With a strong history in manufacturing and workholding products, Herr Tool provides customers with expert advice and information about available products and product lines.
				</p>
				
				<br/>
				
				<p>We strive to provide our customers with:</p>
				
				<ul class="bullets">
					<li>Expert guidance in tool selection</li>
					<li>Continued Sales and client service</li>
					<li>Support customers long term tooling needs</li>
					<li>Client consultation</li>
				</ul>
				 
				<p>
					Herr Tool represents many top manufacturing brands, including Chick Workholding Solutions and SMW Autoblock for over two decades. We have vast knowledge on a variety of installations including those like
				</p>
				
				<ul class="bullets">
					<li>automatic indexing chucks,</li>
					<li>automatic pallet changers, and</li>
					<li>hydraulic fixtures and vises.</li>
				</ul>
				 
				<p>
					Having been in business for more than 50 years, Herr Tool is better fit than the competitor to provide the best guidance and advice for specific tooling solutions and requirements. We provide solutions for clients like The United States Mint, General Dynamics, and Caterpillar Tractor.  These are a few of the many premier companies that rely on Herr Tool Sales for manufacturing and workholding products and solutions.
				</p>
				
				<p>
					Herr Tool offers products in the following areas: workholding & indexing, machine tools, precision measuring tools, machine tool accessories, spindle tooling, cutting tools, coolants, tool storage, and In addition, we offer a chuck, cylinder and toolholder rebuilding service.
				</p>
				
				<p>
					Feel free to call us at (800) 307-3518 or <a href="<%= url_for '/contact' %>">contact us online</a> with any questions, or send us a message if you would like to request a quote.				
				</p>
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
	
	<div id="box5">
		<h2>Search Products</h2>
		<div class="content">	
			<div id="search">
				<%= form_tag('/productSearch') %>
					<%=text_field :main, :search, :class => 'searchInput' %>
					<%=image_submit_tag "homepage20.gif", :class => 'searchButton' %>
				</form>
			</div>
		</div>
	</div>
</div>
