<div id="content">
	<div class="post">
		<h2 class="title">About</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">60 Years of Experience</h3>
				<p class="text2"></p>
						
				
					<%= image_tag 'about.jpg', :class => 'alignleft' %>
					
									
				
				<p>
					Herr Tool Sales has been in the business of selling quality tooling products and providing reliable
					technical guidance in manufacturing and workholding solutions for 60 years.  With a storied history 
					in manufacturing and workholding products, Herr Tool provides customers with expert advice and 
					information about available products and product lines.
				</p>
				
				<br/><br/><br/>
				
				<p>
					We strive to provide our customers with:
				</p>
				
				<ul class="bullets">
					<li>Expert guidance in tool selection;</li>
					<li>Continued Sales and client service;</li>
					<li>Support customers long term tooling needs; and</li>
					<li>Client consultation.</li>
				</ul>
				
				<p>
					Herr Tool has represented several top manufacturing brands—including Chick Workholding Solutions 
					and SMW Autoblock—for decades.  We have vast knowledge in a variety of installations, including:
				</p>
				
				<ul class="bullets">
					<li>Automatic Indexing Chucks;</li>
					<li>Automatic Pallet Changers; and</li>
					<li>Hydraulic Fixtures and Vises.</li>
				</ul>
				
				<p>
					A trusted partner for 60 years, Herr Tool provides unmatched guidance and advice for tooling solutions 
					and requirements. The United States Government, General Dynamics, and Caterpillar Tractor, to name a few, 
					are among many of the premier companies that rely upon Herr Tool Sales for their manufacturing and 
					workholding solutions.
				</p>
				
				<p>
					Herr Tool offers products as solutions to the following disciplines:  workholding & indexing, machine 
					tools, precision measuring tools, machine tool accessories, spindle tooling, cutting tools, coolants, tool 
					storage. In addition, we offer a chuck, cylinder and toolholder rebuilding service.
				</p>
				
				<p>
					Call us at (800) 307-3518 or <a href="<%= url_for '/contact' %>">send us a message</a> with any questions or to request a quote.
				</p>
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
	
	<div id="box5">
		<h2>Search Products</h2>
		<div class="content">	
			<div id="search">
				<%= form_tag('/productSearch') %>
					<%=text_field :main, :search, :class => 'searchInput' %>
					<%=image_submit_tag "homepage20.gif", :class => 'searchButton' %>
				</form>
			</div>
		</div>
	</div>
</div>
