<div id="content">
	<div class="post">
		<h2 class="title">Brands</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Premier Linecard</h3>
				<p class="text2">This is a selection of our most popular brands. View all <a href="<%= url_for '/products' %>">products</a>.</p>

				<div id="brand-images">
					<div class="column first">
						<%= image_tag 'brands/SMW Autoblok.png' %>
						<%= image_tag 'brands/CeratipKyocera.jpg' %>
						<%= image_tag 'brands/Chick.jpg' %>
						<%= image_tag 'brands/EriezHydroflow.jpg' %>
						<%= image_tag 'brands/GatorChucks.jpg' %>
						<%= image_tag 'brands/KeoCutters.png' %>
						<%= image_tag 'brands/KitigawaNorthtech.gif' %>
					</div>
					<div class="column">
						<%= image_tag 'brands/KurtWorkholding.jpg' %>
						<%= image_tag 'brands/LyndexNikken.gif' %>
						<%= image_tag 'brands/MasterChemical.jpg' %>
						<%= image_tag 'brands/MorseCuttingTools.jpg' %>
						<%= image_tag 'brands/Northfield.jpg' %>
						<%= image_tag 'brands/NSKAmerica.jpg' %>						
						<%= image_tag 'brands/PrattBurnerdAmerica.jpg' %>
						<%= image_tag 'brands/Reiff&Nester.gif' %>
					</div>
					<div class="column">
						<%= image_tag 'brands/rohm.png' %>
						<%= image_tag 'brands/RushMachinery.png' %>
						<%= image_tag 'brands/SamChulleyWorkholding.jpg' %>
						<%= image_tag 'brands/VermontGage.jpg' %>
						<%= image_tag 'brands/WTO DrivenTools.jpg' %>
						<%= image_tag 'brands/YG-1 CuttingTools.jpg' %>
						<%= image_tag 'brands/UltraDexUSA.jpg' %>
					</div>
				</div>			
			</div>	
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
	
	<div id="box5">
		<h2>Search Products</h2>
		<div class="content">	
			<div id="search">
				<%= form_tag('/productSearch') %>
					<%=text_field :main, :search, :class => 'searchInput' %>
					<%=image_submit_tag "homepage20.gif", :class => 'searchButton' %>
				</form>
			</div>
		</div>
	</div>
</div>
