<div id="content">
	<div class="post">
		<h2 class="title">Brands</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Premier Linecard</h3>
				<p class="text2">Dolor sit amet nullam blandi tempus nulla tempus consequat</p>

				<div id="two-columns">
					<div id="column1">									
						<ul class="style1">
							<% [0, 1, 2, 3, 4, 5].each do |brand| %>
								<li>
									<%= image_tag 'homepage06.jpg', :width => 90, :height => 90 %>
									<h3>Brand <%= brand %></h3>
									<p>Maecenas amet lobortis cras ultricies et feugiat  veroeros blandit etiam.</p>
								</li>
							<% end %>
						</ul>							
					</div>
					<div id="column2">
						<ul class="style1">
							<% [6, 7, 8, 9, 10].each do |brand| %>
								<li>
									<%= image_tag 'homepage06.jpg', :width => 90, :height => 90 %>
									<h3>Brand <%= brand %></h3>
									<p>Maecenas amet lobortis cras ultricies et feugiat  veroeros blandit etiam.</p>
								</li>
							<% end %>
						</ul>				
					</div>
				</div>					
			</div>
	
			<p><a href="#" class="link-style3"><span>Sed tempus aliquam</span></a></p>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
</div>
