<div id="content">
	<div class="post">
		<h2 class="title">Contact</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Message Us</h3>
				<p class="text2">Dolor sit amet nullam blandi tempus nulla tempus consequat</p>
						
				<%= form_for @quote_request do |f| %>
					
					<p>
						To request a quote, please supply us with the following information. 
						Once we receive your request, we will contact you as soon as possible.
					</p>
						
					<% if @quote_request.errors.any? %>
						<div class="errors ui-widget">
							<div class="ui-state-error ui-corner-all">
								<% @quote_request.errors.full_messages.each do |msg| %>
									<p>
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
										<strong>Error:</strong> <%= msg %>
									</p>
								<% end %>
							</div>
						</div>
					<% end %>
				
					<div class="field">
						<%= f.label :name, 'Name' %>
						<div class="value"><%= f.text_field :name %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :company, 'Company' %>
						<div class="value"><%= f.text_field :company %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :phone, 'Phone' %>
						<div class="value"><%= f.text_field :phone %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :fax, 'Fax' %>
						<%= f.text_field :fax %>
					</div>
					<div class="field">
						<%= f.label :email, 'Email' %>
						<%= f.text_field :email %>
					</div>
				
					<div class="field">
						<%= f.label :additional, 'Message' %>
						<%= f.text_area :additional, :rows => 3 %>
					</div>
						
					<div class="field">
						<label>&nbsp;</label>
						<%= f.submit "Send Message", :class => 'link-style3' %>
					</div>
				
					<div class="field" style="display: none;">
						<label>Leave Blank</label>
						<input type="hidden" id="leave_blank" name="leave_blank" value="" />
					</div>
				
				<% end %>
				
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Phone</h2>
		<div class="content">
			<ul class="style2">
				<li class="first">(800) 307-3518</li>
				<li>(717) 751-4400</li>
			</ul>			
		</div>
	</div>
	<div id="box5">
		<h2>Fax</h2>
		<div class="content">
			(717) 755-7512
		</div>
	</div>
	<div id="box5">
		<h2>Address</h2>
		<div class="content">
			<p>
				Herr Tool Sales, Inc.<br>
				4326 Lincoln Hwy<br>
				York, PA 17406
			</p>
			<p>
				
				
				<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyC4rWNxghGdL39OrScZUX9EGGc4Wv500Es"></script>
			    <script>
					function initialize() {
					  var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
					  var mapOptions = {
					    zoom: 4,
					    center: myLatlng,
					    mapTypeId: google.maps.MapTypeId.ROADMAP
					  }
					
					  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
					
					  var contentString = '<div id="content">'+
					      '<div id="siteNotice">'+
					      '</div>'+
					      '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
					      '<div id="bodyContent">'+
					      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
					      'sandstone rock formation in the southern part of the '+
					      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
					      'south west of the nearest large town, Alice Springs; 450&#160;km '+
					      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
					      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
					      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
					      'Aboriginal people of the area. It has many springs, waterholes, '+
					      'rock caves and ancient paintings. Uluru is listed as a World '+
					      'Heritage Site.</p>'+
					      '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
					      'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
					      '(last visited June 22, 2009).</p>'+
					      '</div>'+
					      '</div>';
					
					  var infowindow = new google.maps.InfoWindow({
					      content: contentString
					  });
					
					  var marker = new google.maps.Marker({
					      position: myLatlng,
					      map: map,
					      title: 'Uluru (Ayers Rock)'
					  });
					  google.maps.event.addListener(marker, 'click', function() {
					    infowindow.open(map,marker);
					  });
					}
					
					google.maps.event.addDomListener(window, 'load', initialize);
					
			    </script>

    			<div id="map-canvas"></div>
				
				
				
							
			</p>
		</div>
	</div>
</div>

