<div id="slideshow" class="container">
	<div class="viewer">
		<div class="reel">
			<div class="slide">
				<%= image_tag 'lathe.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>Proven Experience</h2>
					<p>Expert consultation on manufacturing and workholding products for over 50 years.</p>
				</div>
			</div>
			<div class="slide">
				<%= image_tag 'mint.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>In Mint Shape</h2>
					<p>Trusted by The United States Mint to provide the highest quality manufacturing tools.</p>
				</div>
			</div>
			<div class="slide">
				<%= image_tag 'climb.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>Over $50 million in sales</h2>
					<p>Herr Tool Sales provides machine shops the products and tools needed to be productive.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a>
	
	<div class="indicator">
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
		</ul>
	</div>
</div>

<div id="content">
	<div class="post">
		<h2 class="title">What We Do</h2>
		<div class="entry">
			<div id="box1">
				<p>
					<a href="#"><%= image_tag 'homepage03.jpg', :width => 246, :height => 236, :class => 'alignleft' %></a>
				</p>

				<p>
					Herr Tool Sales is an international distributor of metal working and manufacturing tools and supplies. 
					We have continued to provide expert technical guidance on all types of metal working products and brands 
					for over 50 years. Take a look at the <a href="<%= url_for '/brands' %>">brands</a> we represent. 
				</p>
				
				<p><span><a href="#" class="link-style1">Continue Reading</a></span><span><a href="#" class="link-style2">Comments (33)</a></span></p>
			</div>

			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p><a href="#"><%= image_tag 'homepage15.jpg', :width => 210, :height => 90 %></a></p>
			<p>Donec quis iaculis urna. Curabitur sed, vestibulum nec sem. dui lorem, interdum congue molestie sit amet, et auctor vitae libero consequat.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
</div>

