<div id="slideshow" class="container">
	<div class="viewer">
		<div class="reel">
			<div class="slide">
				<%= image_tag 'lathe.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>Proven Experience</h2>
					<p>Expert consultation on manufacturing and workholding products for over 60 years.</p>
				</div>
			</div>
			<div class="slide">
				<%= image_tag 'mint.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>Trusted by the U.S. Government</h2>
					<p>Trusted by The United States Government to provide the highest quality manufacturing tools.</p>
				</div>
			</div>
			<div class="slide">
				<%= image_tag 'climb.jpg', :width => 940, :height => 220 %>
				<div class="caption">
					<h2>The right tools for the job</h2>
					<p>Herr Tool Sales provides machine shops the products and tools they need to stay productive.</p>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="previous">Previous</a> <a href="#" class="next">Next</a>
	
	<div class="indicator">
		<ul>
			<li class="active">1</li>
			<li>2</li>
			<li>3</li>
		</ul>
	</div>
</div>

<div id="content">
	<div class="post">
		<h2 class="title">What We Do</h2>
		<div class="entry">
			<div id="box1">
				<p><%= image_tag 'HomepageImageV3.jpg', :width => 275, :class => 'alignleft' %></p>

				<p>
					Herr Tool Sales is an international distributor of metal working and manufacturing tools and supplies. 
					We have continued to provide expert technical guidance on all types of metal working products and brands 
					for 60 years.
				</p>
				
				<p><span><a href="<%= url_for '/brands' %>" class="link-style1">Brands</a></span><span><a href="<%= url_for '/products' %>" class="link-style2">Products</a></span></p>
			</div>

			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
	
	<div id="box5">
		<h2>Search Products</h2>
		<div class="content">	
			<div id="search">
				<%= form_tag('/productSearch') %>
					<%=text_field :main, :search, :class => 'searchInput' %>
					<%=image_submit_tag "homepage20.gif", :class => 'searchButton' %>
				</form>
			</div>
		</div>
	</div>
</div>

