<div id="content">
	<div class="post">
		<h2 class="title">Contact</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Send Us A Message</h3>
				<p class="text2">Get tooling advice, request a quote, or ask a general question.</p>
						
				<%= form_for @quote_request do |f| %>
					
					<p>
						Please send us the following information and we will contact you as soon as possible.
					</p>
						
					<% if @quote_request.errors.any? %>
						<div class="errors ui-widget">
							<div class="ui-state-error ui-corner-all">
								<% @quote_request.errors.full_messages.each do |msg| %>
									<p>
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
										<b>Error:</b> <%= msg %>
									</p>
								<% end %>
							</div>
						</div>
					<% end %>
				
					<div class="field">
						<%= f.label :name, 'Name' %>
						<div class="value"><%= f.text_field :name %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :company, 'Company' %>
						<div class="value"><%= f.text_field :company %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :phone, 'Phone' %>
						<div class="value"><%= f.text_field :phone %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :fax, 'Fax' %>
						<div class="value"><%= f.text_field :fax %></div>
					</div>
					<div class="field">
						<%= f.label :email, 'Email' %>
						<div class="value"><%= f.text_field :email %></div>
					</div>
				
					<div class="field">
						<%= f.label :additional, 'Message' %>
						<div class="value"><%= f.text_area :additional, :rows => 8, :cols => 50 %></div>
					</div>
						
					<div class="field">
						<label>&nbsp;</label>
						<div class="value"><%= f.submit "Send Message", :class => 'link-style3' %></div>
					</div>
				
					<div class="field" style="display: none;">
						<label>Leave Blank</label>
						<input type="hidden" id="leave_blank" name="leave_blank" value="" />
					</div>
				
				<% end %>
				
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Phone</h2>
		<div class="content">
			<ul class="style2">
				<li class="first">(800) 307-3518</li>
				<li>(717) 751-4400</li>
			</ul>			
		</div>
	</div>
	<div id="box5">
		<h2>Fax</h2>
		<div class="content">
			(717) 755-7512
		</div>
	</div>
	<div id="box5">
		<h2>Address</h2>
		<div class="content">
			<p>
				Herr Tool Sales, Inc.<br>
				4326 Lincoln Hwy<br>
				York, PA 17406
			</p>
			<p>

				<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
			    <script>
					var map;
					function initialize() {
				 		var myLatlng = new google.maps.LatLng(39.997808,-76.627664);

						var mapOptions = {		  	
							zoom: 5,
						    center: myLatlng,
						    disableDefaultUI: true,
						    mapTypeId: google.maps.MapTypeId.ROADMAP
						};
						
						map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
					  
						var marker = new google.maps.Marker({
					    	position: myLatlng,
					    	map: map,
					    	title: 'HTS'
					  	});
					}
					
					google.maps.event.addDomListener(window, 'load', initialize);
				</script>			

    			<div id="map-canvas"></div>
			</p>
			
			<p>
				<a href="https://www.google.com/maps?q=Herr+Tool+Sales,+Inc.,+4326+Lincoln+Highway,+York,+PA&hl=en&ll=39.998049,-76.624725&spn=0.010323,0.01929&sll=39.999167,-76.627665&sspn=0.010323,0.01929&oq=herr&hq=Herr+Tool+Sales,+Inc.,&hnear=4326+Lincoln+Hwy,+York,+Pennsylvania+17406&t=m&z=7" target="_blank">Large Map</a>
			</p>
		</div>
	</div>
</div>
