<div id="content">
	<div class="post">
		<h2 class="title">Contact</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Message Us</h3>
				<p class="text2">Dolor sit amet nullam blandi tempus nulla tempus consequat</p>
						
				<%= form_for @quote_request do |f| %>
					
					<p>
						To request a quote, please supply us with the following information. 
						Once we receive your request, we will contact you as soon as possible.
					</p>
						
					<% if @quote_request.errors.any? %>
						<div class="errors ui-widget">
							<div class="ui-state-error ui-corner-all">
								<% @quote_request.errors.full_messages.each do |msg| %>
									<p>
										<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
										<b>Error:</b> <%= msg %>
									</p>
								<% end %>
							</div>
						</div>
					<% end %>
				
					<div class="field">
						<%= f.label :name, 'Name' %>
						<div class="value"><%= f.text_field :name %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :company, 'Company' %>
						<div class="value"><%= f.text_field :company %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :phone, 'Phone' %>
						<div class="value"><%= f.text_field :phone %></div>
						<span class="required">required</span>
					</div>
					<div class="field">
						<%= f.label :fax, 'Fax' %>
						<div class="value"><%= f.text_field :fax %></div>
					</div>
					<div class="field">
						<%= f.label :email, 'Email' %>
						<div class="value"><%= f.text_field :email %></div>
					</div>
				
					<div class="field">
						<%= f.label :additional, 'Message' %>
						<div class="value"><%= f.text_area :additional, :rows => 8, :cols => 50 %></div>
					</div>
						
					<div class="field">
						<label>&nbsp;</label>
						<div class="value"><%= f.submit "Send Message", :class => 'link-style3' %></div>
					</div>
				
					<div class="field" style="display: none;">
						<label>Leave Blank</label>
						<input type="hidden" id="leave_blank" name="leave_blank" value="" />
					</div>
				
				<% end %>
				
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Phone</h2>
		<div class="content">
			<ul class="style2">
				<li class="first">(800) 307-3518</li>
				<li>(717) 751-4400</li>
			</ul>			
		</div>
	</div>
	<div id="box5">
		<h2>Fax</h2>
		<div class="content">
			(717) 755-7512
		</div>
	</div>
	<div id="box5">
		<h2>Address</h2>
		<div class="content">
			<p>
				4326 Lincoln Hwy<br>
				York, PA 17406
			</p>
			<p>
				<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;time=&amp;date=&amp;ttype=&amp;q=Herr+Tool+Sales&amp;sll=39.99961,-76.626763&amp;sspn=0.007775,0.020084&amp;ie=UTF8&amp;om=0&amp;cid=39998285,-76626786,486690109932193645&amp;s=AARTsJpokYdNVlubTn0ws6MTTDWPqoBg6A&amp;ll=40.014731,-76.622257&amp;spn=0.046015,0.072956&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>				
			</p>
		</div>
	</div>
</div>
