<div id="content">
	<div class="post">
		<h2 class="title">Products</h2>
		<div class="entry">
			<div id="box1">
				<h3 class="text1">Categories</h3>

				<% midpoint = (@categories.length / 2).round - 1 %>
						
				<div id="two-columns">
					<div id="column1">									
						<ul class="style1">
							<% @categories[0..midpoint].each do |category| %>
								<li>
									<%= image_tag 'homepage06.jpg', :width => 90, :height => 90 %>
									<h3><%= category.name %></h3>
								</li>
							<% end %>
						</ul>							
					</div>
					<div id="column2">
						<ul class="style1">
							<% @categories[(midpoint+1)..@categories.length].each do |category| %>
								<li>
									<%= image_tag 'homepage06.jpg', :width => 90, :height => 90 %>
									<h3><%= category.name %></h3>
								</li>
							<% end %>
						</ul>				
					</div>
				</div>					
			</div>
		</div>
	</div>
</div>
<div id="sidebar">
	<div id="box4">
		<h2>Contact Us</h2>
		<div class="content">
			<p>We represent many distributors and manufacturers and can provide discounts you can't find purchasing direct. Click below to request a quote.</p>
		
			<p><a href="<%= url_for '/contact' %>" class="link-style3"><span>Request a Quote</span></a></p>
		</div>
	</div>
</div>
