<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<title>
		<% if @title %>
			<%=@title %> - Herr Tool Sales Inc.
		<% else %>
			Herr Tool Sales, Inc.
		<% end %>
	</title>

  	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>

	<script src="https://www.google.com/recaptcha/api.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Oswald" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	<!--[if IE 6]>
		<link href="ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>
<body>
<div id="wrapper-bg">
	<div id="wrapper-bgtop">
		<div id="wrapper-bgbtm">
			<div id="header" class="container">
				<div id="phone">(800) 307-3518</div>
				
				<div id="logo">
					<h1><a href="<%= url_for '/' %>">Herr Tool Sales</a></h1>
					<p>Tooling and Metalworking Products</p>
				</div>
				<div id="menu">					
					<ul>
						<li><a href="<%= url_for '/' %>" accesskey="1">Home</a></li>
						<li><a href="<%= url_for '/about' %>" accesskey="2">About</a></li>
						<li><a href="<%= url_for '/products' %>" accesskey="3">Products</a></li>
						<li><a href="<%= url_for '/brands' %>" accesskey="4">Brands</a></li>
						<li><a href="<%= url_for '/contact' %>" accesskey="5">Contact</a></li>
					</ul>
				</div>
			</div>
			<div id="page" class="container">
				<div id="page-bgtop">
					<div id="page-bgbtm">
												
						<% if notice %>
							<div id="notice" class="container">
								<div class="ui-widget">
									<div class="ui-state-highlight ui-corner-all">
										<p>
											<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
											<%= notice %>
										</p>
									</div>
								</div>
							</div>
						<% end %>
						
						<%= yield  %>
						
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer-content" class="container">
	<div id="three-columns">
		<div id="box7">
			<h2>Site Map</h2>
			<ul class="style4">
				<li class="first"><a href="<%= url_for '/' %>">Home</a></li>
				<li><a href="<%= url_for '/about' %>">About</a></li>
				<li><a href="<%= url_for '/products' %>">Products</a></li>
				<li><a href="<%= url_for '/brands' %>">Brands</a></li>
				<li><a href="<%= url_for '/contact' %>">Contact</a></li>
			</ul>
		</div>
		<div id="box8">
			<h2>Contact Information</h2>
			<div class="content">
				<p>
					Herr Tool Sales, Inc.<br>
					4326 Lincoln Hwy<br>
					York, PA 17406
				</p>
				<p>
					(800) 307-3518
				</p>
			</div>
		</div>
		<div id="box9">
			<h2>Map</h2>
			<div class="content">
				<a href="<%= url_for '/contact' %>">
					<img src="https://maps.googleapis.com/maps/api/staticmap?center=Herr+Tool+Sales,+Inc.,+4326+Lincoln+Highway,+York,+PA&zoom=5&size=180x150&maptype=roadmap&markers=color:gray%7Ccolor:gray%7C39.998049,-76.624725&sensor=false&style=feature:all%7Celement:all%7Csaturation:-100&key=AIzaSyC4rWNxghGdL39OrScZUX9EGGc4Wv500Es" width="180px" height="150px" />
				</a>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="container">
	<p class="legal">© Herr Tool Sales, Inc. All rights reserved.</p>
</div>



<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-4147404-1");
	pageTracker._initData();
	pageTracker._trackPageview();
</script>

</body>
</html>
