<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<title>
		<% if @title %>
			<%=@title %> - Herr Tool Sales Inc.
		<% else %>
			Herr Tool Sales, Inc.
		<% end %>
	</title>

  	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tags %>

	<link href="http://fonts.googleapis.com/css?family=Arvo:400,700|Oswald" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

	<!--[if IE 6]>
		<link href="ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->
</head>
<body>
<div id="wrapper-bg">
	<div id="wrapper-bgtop">
		<div id="wrapper-bgbtm">
			<div id="header" class="container">
				<div id="phone">(800) 307-3518</div>
				
				<div id="logo">
					<h1><a href="<%= url_for '/' %>">Herr Tool Sales</a></h1>
					<p>Precision Machine Tools</p>
				</div>
				<div id="menu">					
					<ul>
						<li><a href="<%= url_for '/' %>" accesskey="1">Home</a></li>
						<li><a href="<%= url_for '/about' %>" accesskey="2">About</a></li>
						<li><a href="<%= url_for '/products' %>" accesskey="3">Products</a></li>
						<li><a href="<%= url_for '/brands' %>" accesskey="4">Brands</a></li>
						<li><a href="<%= url_for '/contact' %>" accesskey="5">Contact</a></li>
					</ul>
				</div>
			</div>
			<div id="page" class="container">
				<div id="page-bgtop">
					<div id="page-bgbtm">
						<%= yield  %>
						
						<div class="clearfix">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer-content" class="container">
	<div id="three-columns">
		<div id="box7">
			<h2>Site Map</h2>
			<ul class="style4">
				<li class="first"><a href="<%= url_for '/' %>">Home</a></li>
				<li><a href="<%= url_for '/about' %>">About</a></li>
				<li><a href="<%= url_for '/products' %>">Products</a></li>
				<li><a href="<%= url_for '/brands' %>">Brands</a></li>
				<li><a href="<%= url_for '/contact' %>">Contact</a></li>
			</ul>
		</div>
		<div id="box8">
			<h2>Amet lobortis lorem</h2>
			<div>
				<ul class="style4">
					<li class="first"><a href="#">Dapibus et vestibulum sem</a></li>
					<li><a href="#">Quis iaculis urna curabitur et tortor</a></li>
					<li><a href="#">Maecenas llobortis vestibulum</a></li>
					<li><a href="#">Interdum congue sit amet auctor</a></li>
					<li><a href="#">Lorem ipsum dolor sit amet</a></li>
				</ul>
			</div>
		</div>
		<div id="box9">
			<h2>Contact Us</h2>
			<div class="content">
				<ul class="style5">
					<li><a href="#"><%= image_tag 'homepage17.gif', :width => 32, :height => 32 %></a></li>
					<li><a href="#"><%= image_tag 'homepage18.gif', :width => 32, :height => 32 %></a></li>
					<li><a href="#"><%= image_tag 'homepage19.gif', :width => 32, :height => 32 %></a></li>
					<li><a href="#"><%= image_tag 'homepage20.gif', :width => 32, :height => 32 %></a></li>
					<li><a href="#"><%= image_tag 'homepage21.gif', :width => 32, :height => 32 %></a></li>
				</ul>
				<p>Lorem ipsum dolor sit amet et
					arcu blandit pretium? Et auctor
					congue urna.</p>
				<p><a href="#" class="link-style4">information@untitled.tld</a></p>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="container">
	<p class="links"><a href="#">Terms of Use</a> | <a href="#">Legal Disclaimer</a> | <a href="#">Privacy Policy</a> | <a href="#">Information</a> | <a href="#">Contact Us</a></p>
	<p class="legal">© 2002 - 2013 Herr Tool Sales, Inc. All rights reserved.</p>
</div>



<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-4147404-1");
	pageTracker._initData();
	pageTracker._trackPageview();
</script>

</body>
</html>
